# Rider (JetBrains)
.idea/
riderModule.iml

# ReSharper Caches
/_ReSharper.Caches/

# Visual Studio
.vs/
*.suo
*.user
*.cache
*.pdb

# Build directories
bin/
obj/
out/

# Dependencies
packages/
node_modules/

# Logs and temporary files
*.log
*.tmp

# Environment settings
appsettings.Development.json
secrets.json
